body{
   background-color: #2d6a4f;
}
 
.listarecetas {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px; /* ← separación entre elementos */
}

.listarecetas li {
  background-color: white;
  padding: 12px;
  border-radius: 8px;

  text-align: center;
  cursor: pointer; 
  transition: 0.2s;
}

.listarecetas a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.listarecetas li:hover {
  background-color: #d09bef;
  transform: scale(1.02);
}

.titulo {
  /* Layout (posición y centrado) */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Tamaño y espaciado */
  height: 40px;
  margin: 20px auto;
  padding: 12px;

  /* Tipografía */
  font-family: Arial, Helvetica, sans-serif;

  /* Estilo base */
  border-radius: 10px;
  width: 60%;
}

.titulo.gaz {
  background-color: #d8f3dc;
  border: 1px solid #b7e4c7;
  color: #2d6a4f; /* verde más intenso */
}

/* 🍝 Carbonara → crema pastel */
.titulo.car {
  background-color: #fff3d6;
  border: 1px solid #ffe0a3;
  color: #8a5a00; /* marrón suave (tipo pasta) */
}

/* 🏠 Main → verde neutro */
.titulo.main {
  background-color: #574c57;
  border: 1px solid #cde7d8;
  color: #dea0cd; /* verde grisáceo */
}
